# Copy this file to .env and fill in your local values
# This file is safe to commit. The actual .env is gitignored.

DB_NAME=familyplaner
DB_USERNAME=admin
DB_PASSWORD=secret

PGADMIN_EMAIL=your@email.com
PGADMIN_PASSWORD=admin
